@font-face{
    font-family: AmpleBold;
    src: url('../fontes/AmpleSoft Bold_0.otf')
}@font-face{
    font-family: AmpleMedium;
    src: url('../fontes/AmpleSoft Medium_0.otf')
}@font-face{
    font-family: Ample;
    src: url('../fontes/AmpleSoft_0.otf')
}@font-face{
    font-family: OpenLight;
    src: url('../fontes/OpenSans-Light_0.ttf')
}@font-face{
    font-family: OpenRegular;
    src: url('../fontes/OpenSans-Regular_0.ttf')
}

body{
    font-family: AmpleMedium;
}
header{
    font-family: Ample;
}
#faixaCima{
    background: url(../imagens/barra_colorida.png) repeat-x;
    margin-bottom:0;
    padding-bottom:0;
    height: 3px;
}
#navCima{
    padding-left:15.5%;
}
#logotipo{
    width:12rem;
    height:6rem;
    margin:.5% 2%;
}
#numFixo{
    margin:3%;
}
#numWhats{
    margin:3% 0 0;
    padding:4%;
    font-size:.9em;
}
.contain{
    padding: 0 15.5%;
}
.containHome{
    padding: 4% 15.5%;
    margin: 0;
}
.slide{
    width: 100%;
}
.titulo{
    margin-bottom: 0;
}
.subtitulo{
    margin-top: 0;
    margin-bottom: 3%;
}
#negocio{
    background: url('../imagens/bg_sobre.png');
    width: 100%;
}
.fundoCinza{
    background: url('../imagens/foto_portfolio_1.png');
    border-radius: 4px;
}
#nossosServicos {
	background: url('../imagens/bg_pacotes.png');
    background-size: cover;
    width: 100%;
}
#contato{
    background: url('../imagens/bg_contato.png');
    background-size: cover;
    width: 100%;
}

.perguntas{
    border: 2px solid #2dbd4c;
    border-radius: 50px;
    padding: 2% 6%;
    margin-bottom: 3%;
}
.perguntas img{
    float: right;
    width: 10%;
}
.compra{
    border: 2px solid white;
    border-radius: 50px;
    text-align: center;
    padding: 1% 3%;
}
.dados p, .dados input, textarea{
    font-family: Ample;
}
.radius{
    border-radius: 50px; 
}
.descricao{
    font-family: OpenLight;
}
#agencia{
    width: 100%;
}
.dadosForm{
    font-family: Ample;
}
.topoVerde {
    padding: 2% 15.5%;
    background-color: #2dbd4c;
    color: white;
}

.topoVerde h1, .topoAzul h1 {
    margin-bottom: 0;
}

.topoVerde h6, .topoAzul h1 {
    margin-top: 0;
}

.topoAzul {
    padding: 2% 15.5%;
    background-color: #00a9d6;
    color: white;
}

.topoControle {
    border: 2px solid #2dbd4c;
    border-radius: 50px;
    margin: 5% 20%;
}

.controle {
    font-size: 1.3em;
    font-family: Ample;
    margin: 1.3% 0;
}
.controle img {
    width: 38px;
    margin-right: 1%;
}

.miniTitulos {
    margin: 3% 0;
}

.iconeCompra {
    margin: 3%;
}

.inputs {
    border-radius: 50px !important;
    margin: .5%;
    padding: 2%;
}
.inputAdd{
    border-radius: 0 50px 50px 0;
}
inputGroup{
    background-color: white;
}
.prep{
    border-radius: 50px 0 0 50px;
}
.inputEstado {
    border-radius: 50px !important;
}

textarea {
    resize: none;
}

.avisoAzul {
    background: #0184ff42;
    border-radius: 50px;
    color: #00509b;
    padding: 4% 12%;
    margin: 2% 0;
    font-family: Ample;
}
.avisoVerde {
    background: #00a04880;
    border-radius: 50px;
    color: #005f2b;
    padding: 4% 12%;
    margin: 2% 0;
}
@media (min-width:768px){
    .avisoVerde, .avisoAzul{
        padding: 2% 6%;
    }
    .perguntas img{
        width:4%;
    }

}

.pagamentoLaranja {
    color: #fff;
    background-color: #dc7835;
    border-color: #dc7835;
}

.pagamentoLaranja:hover {
    color: #fff;
    background-color: #c85723;
    border-color: #bd7821;
}

.pagamentoLaranja:focus, .pagamentoLaranja.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 114, 53, 0.5);
}

.pagamentoLaranja.disabled, .pagamentoLaranja:disabled {
    color: #fff;
    background-color: #dc7835;
    border-color: #dc7835;
}

.pagamentoLaranja:not(:disabled):not(.disabled):active, .pagamentoLaranja:not(:disabled):not(.disabled).active, .show>.pagamentoLaranja.dropdown-toggle {
    color: #fff;
    background-color: #bd7821;
    border-color: #b2781f;
}

.pagamentoLaranja:not(:disabled):not(.disabled):active:focus, .pagamentoLaranja:not(:disabled):not(.disabled).active:focus, .show>.pagamentoLaranja.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 114, 53, 0.5);
}

.guiaPagamento {
    margin: 2% 0;
    font-family: Ample;
}

.bancos {
    width: 100px;
    height: 100px;
}

.bottomSobre {
    margin: 2% 0 10%;
}
.bg-success p{
    font-family: Ample;
}
#rodape{
    position: relative;
}
#selo{
    position:absolute;
    padding:0 0 0 0%;
    margin-top:-.5%;
    width: 1in
}
@media (min-width:768px){

    #selo{
        padding:0 0 0 13%;
        width: 21%;
    }
}
#fundoFooter{
    background: url('../imagens/faixa_amarela.png');
    padding:0 13%;
    margin-top:-10px;
    background-repeat:no-repeat;
    width: 100%;
}
#textoFooter{
    padding:3% 0 3% 25%;
    margin:0;
    font-family: AmpleBold;
    color: white;
}
#textoFooter span{
    color:black;
}
#whats{
    padding-top:15%;
    width:45%;
}
.redesSociais{
    margin:1%;
}
.ultimo{
    background:#00a9d6;
    margin: 0;
    padding: 2%;
    width:100%;
}
.fonte{
    font-family: Ample;
    font-size: .7rem;
}