@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('');
body {
	font-family: 'Open Sans', sans-serif;
}

.tudo {
	background-size: cover;
	background-repeat: no-repeat;
}

h1, #portfolio {
	text-align: center;
}

#topo {
	margin-top: -25px;
	width: 100%;
}

.nav {
	margin: 2%;
	width: 100%;
}

.nav a {
	vertical-align: middle;
}

.nav img {
	width: 208px;
	height: 96px
}

#nossosServicos {
	background: url('imagens/bg_pacotes.png');
	width: 100%;
}

#portfolio {
	margin: 2%;
	width: 100%;
}

#depoimentos {}

#garantiaSelo {
	background: url(imagens/faixa_amarela.png);
	width: 100%;
	text-align: justify;
}

section {
	background-size: cover;
	background-repeat: no-repeat;
}