@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('');
body{
	font-family: 'Open Sans', sans-serif;
}
.tudo{
	margin: 0;
	padding: 0 15%;
}
h1, #portfolio{
	text-align: center;
}
#topo{
	margin-top: -25px;
	width: 100%;
}
.nav{
	margin: 2%;
}
.nav a{
	vertical-align: middle;
}
.nav img{
	width: 208px;
	height: 96px
}
#nossosServicos{
	background: url('imagens/bg_pacotes.png');
	padding: 5%;
}
#portfolio{
	margin: 2%;
}
#depoimentos{
	
}
#garantiaSelo{
	background: url(imagens/faixa_amarela.png);
	width: 100%;
	padding: 3%;
	text-align: justify;
}
